.custom-toast-error {
    background-color: #f8d7da;
    color: #721c24;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hide-all > *:not(.login-popup) {
    display: none !important;
}